node_modules
*.csproj.user
*.suo
*.tmp
_Resharper*
Debug
Release
*scc
Bin
Obj
logs/
StyleCop.Cache
*.DotSettings
*.DotSettings.user
*.StyleCop
*.svn_$folder$
*.Publish.xml
Build/*
_UpgradeReport_Files
Solution/PrecompiledWeb
Solution/TestResults/
Solution/Cyberu.Tools.Support/bin.zip
!Build/empty.txt
Build
_UpgradeReport_Files/
*.user
packages
