node_modules
*.csproj.user
*.suo
*.tmp
_Resharper*
Debug
Release
*scc
Bin
Obj
logs/
StyleCop.Cache
*.DotSettings
*.DotSettings.user
*.StyleCop
*.svn_$folder$
*.Publish.xml
Build/*
_UpgradeReport_Files
!Build/empty.txt
Build
_UpgradeReport_Files/
*.user
packages
.vs
.vs/