@using Patterns.Resources
<span class="languages">
  <a href="?lang=be">be</a>
  <a href="?lang=ru">ru</a>
  <a href="?lang=en">en</a>
</span>
<span class="contacts">
  <a href="@Url.Action("Index", "Contacts")">@Strings.Contacts</a>
</span>